.container {
  background-color: white;
}

.card {
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  background-color: purple;
  color: white;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;

  // Add 3D effect properties
  perspective: 1000px; // Set perspective for 3D effect
}

.card:hover {
  transform: scale(1.05) rotateY(5deg); // Add rotation on hover for 3D effect
}

// Extend other classes with the card styles
.info,
.education,
.skills,
.honors,
.internships,
.hackathons,
.certifications {
  @extend .card;
}
